.price::before{
    content:"$";
    margin-right:8px;
}
.product-name{
    min-height:60px;
}
.product-description{
    text-transform:capitalize;
}

#product-detail-images img {
    width: 100%;
}

/* Profile Image */
.profile-group {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
}
#profile-preview {
    max-width: 150px;
}
.profile-btn {
    position: absolute;
    z-index: 99;
    bottom: 0;
    right: 0;
}

.nav-profile-image {
    max-width: 50px;
    margin: 0 20px;
    padding: 3px;
    box-sizing: border-box;
}

.navbar-user {
    margin: 0;
    padding: 0px 15px;
}
.nav-image-container {
  display: inline-block;
}

.product-quantity{
  max-width:60px;
}

.cap{
  text-transform: capitalize;
}

.search-bar{
  padding:15px;
  margin-bottom: 30px;
}

#search-form {
    margin-bottom: 0;
}

footer {
  height: 250px;
  margin-top: 50px;
  background: #4c288e;
  color: #fff;
}

/*----------------wishlist section*/
.wishlist-description{
  min-height: 80px;
}
.flex-row{
  display:flex;
  flex-wrap:wrap;
}
/*spinner*/
.spinner{
  animation:spin 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: linear;
  max-width:20px;
}
@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
/*---------shopping cart-------------*/
.cart-row h3{
  margin-top:0;
}
.cart-row{
  margin-top:20px;
}
.cart-row input[name="quantity"]{
  max-width:54px;
}
.cart-row input[data-type="price"]{
  max-width:80px;
}
.no-border{
  border:solid transparent;
  box-shadow: 0px 0px 0px transparent;
}